## Database configuration
POSTGRES_HOST='localhost'
POSTGRES_PORT=5432
POSTGRES_USER='postgres'
POSTGRES_DBNAME='postgres'
POSTGRES_PASSWORD='postgres'

## Application configuration
WEB_HOST=0.0.0.0
WEB_PORT=80

# Static key used to hash passwords
STATIC_KEY=houdini

DEBUG=False
